<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-godot-4.6.3" value="F:\Godot项目\Godot_v4.6.3-stable_mono_win64\GodotSharp\Tools\nupkgs" />
    <add key="local-godot-4.4.1" value="F:\Godot项目\GodotSharp\Tools\nupkgs" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
